<dashboard-header></dashboard-header>
<section class="section bg-services p-0" id="services">
  <div class="container-fluid">
    <div class="row" *ngIf="!forAdmin">
      <div class="col-lg-12">
        <div class="title-box text-right">
          <button
            class="btn btn-primary mt-3 btn-xl"
            (click)="reqForSoil(requestForSoil)"
          >
            Request For Soil Testing
          </button>
        </div>
      </div>
    </div>

    <div class="card mt-2" *ngIf="!forAdmin">
      <div class="card-header pb-0">
        <h6 class="card-title">
          My Testing Request
          <i class="fa fa-refresh float-right" (click)="getTestingReq()"></i>
        </h6>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-sm">
          <thead>
            <th>ID</th>
            <th>Requestor</th>
            <th>Request For</th>
            <th>Land Mark Name</th>
            <th>Request Date</th>
            <th>Status</th>
            <th>Action</th>
          </thead>
          <tbody>
            <tr *ngFor="let request of myTestingRequests">
              <td>{{ (request?._id).substr((request?._id).length - 6) }}</td>
              <td>{{ request?.requestor }}</td>
              <td>
                <button class="btn btn-info btn-xs">
                  {{ request?.requestedFor }}
                </button>
              </td>
              <td>{{ request?.landInfo.landmark }}</td>
              <td>{{ request?.createdAt | date }}</td>
              <td>
                <button
                  class="btn btn-sm text-white"
                  [ngClass]="{
                    'btn-warning': request?.status == 'Pending',
                    'btn-success': request?.status != 'Pending'
                  }"
                >
                  {{ request?.status }}
                </button>
              </td>
              <td>
                <button class="btn btn-sm btn-light mr-2" *ngIf="!!request?.report">
                  <i class="fa fa-download"></i>
                </button>
                <!-- TODO -->
                <!-- <button class="btn btn-sm btn-light">
                  <i class="fa fa-trash"></i>
                </button> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="card mt-2" *ngIf="!forAdmin" [hidden]="true">
      <div class="card-header pb-0">
        <h6 class="card-title">
          My Prediction Request
          <i class="fa fa-refresh float-right" (click)="getTestingReq()"></i>
        </h6>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-sm">
          <thead>
            <th>ID</th>
            <th>Requeste</th>
            <th>Land Mark Name</th>
            <th>Request Date</th>
            <th>Status</th>
            <th>Report</th>
          </thead>
          <tbody>
            <tr *ngFor="let request of myTestingRequests">
              <td>{{ request?._id }}</td>
              <td>
                <button class="btn btn-info btn-xs">
                  {{ request?.requestedFor }}
                </button>
              </td>
              <td>{{ request?.landInfo.landmark }}</td>
              <td>{{ request?.createdAt | date }}</td>
              <td>
                <button
                  class="btn btn-sm"
                  [ngClass]="{
                    'btn-warning': request?.status == 'pending',
                    'btn-success': request?.status != 'pending'
                  }"
                >
                  {{ request?.status }}
                </button>
              </td>
              <td *ngIf="!!request?.report">
                <button class="btn btn-sm btn-light">
                  <i class="fa fa-download"></i>
                </button>
              </td>
              <td *ngIf="!request?.report">-</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="card mt-2" *ngIf="forAdmin">
      <div class="card-header pb-0">
        <h6 class="card-title">User Request(s)</h6>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-sm table-hover">
          <thead>
            <th>ID</th>
            <th>Requestor</th>
            <th>Request For</th>
            <th>Land Mark Name</th>
            <th>Request Date</th>
            <th>Status</th>
            <th>Action</th>
          </thead>
          <tbody>
            <tr *ngFor="let request of adminMyTestingRequests">
              <td>{{ (request?._id).substr((request?._id).length - 6) }}</td>
              <td>{{ request?.requestor }}</td>
              <td>
                <button class="btn btn-info btn-xs">
                  {{ request?.requestedFor }}
                </button>
              </td>
              <td>{{ request?.landInfo.landmark }}</td>
              <td>{{ request?.createdAt | date }}</td>
              <td>
                <button
                  class="btn btn-sm"
                  [ngClass]="{
                    'btn-warning': request?.status == 'Pending',
                    'btn-success': request?.status != 'Pending'
                  }"
                >
                  {{ request?.status }}
                </button>
              </td>
              <td>
                <button
                  class="btn btn-sm btn-info"
                  (click)="uploadReportNow(request)"
                  *ngIf="request?.status == 'Pending'"
                >
                  <i class="fa fa-upload"></i>
                </button>
                <button
                  class="btn btn-sm btn-info"
                  (click)="downloadReport(request._id)"
                  *ngIf="request?.status !== 'Pending' && !!request.report"
                >
                  <i class="fa fa-download"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<ng-template #requestForSoil let-c="close" let-d="dismiss">
  <div class="modal-header bg-white">
    <h6 class="modal-title" id="myModalLabel">Choose Land Type</h6>
    <button
      type="button"
      class="close"
      (click)="c('close modal')"
      data-dismiss="modal"
      aria-hidden="true"
    >
      &times;
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group d-flex mb-0">
      <label for="soilTestingEarlier" class="col-form-label-lg col-10"
        >Soil Tested Earlier</label
      >
      <select
        name="soilTestingEarlier"
        (change)="changeSoilTesting(soilTestingEarlier)"
        [(ngModel)]="soilTestingEarlier"
        class="form-control col-2"
      >
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
    </div>
    <hr class="mt-0" />
    <div class="card card-body table-responsive" *ngIf="showTesting === 'no'">
      <button
        class="btn btn-light btn-block btn-lg"
        *ngFor="let lt of requestType"
        (click)="requestForLand(lt.id)"
      >
        <h6 class="d-flex justify-content-center">{{ lt.name }}</h6>
      </button>
    </div>
    <div class="card" *ngIf="showTesting === 'yes'">
      <div class="card-header">
        <h5 class="card-title">Enter Soil Details</h5>
        <p class="card-subtitle small">Fill Soil & Land Details <i>One at a time</i></p>
      </div>
      <div class="card-body table-responsive">
        <form #getSoilData="ngForm" ngNativeValidate>
          <div class="d-lg-flex">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="name">Soil Type</label>
                <input
                  type="text"
                  [(ngModel)]="soilData.cropInfo.soiltype"
                  class="form-control registration-input-box"
                  name="soiltype"
                  #soiltype="ngModel"
                  [required]="true"
                  placeholder="Soil Type"
                />
              </div>
              <div class="form-group">
                <label for="name">Temperature</label>
                <input
                  type="text"
                  [(ngModel)]="soilData.cropInfo.temp"
                  class="form-control registration-input-box"
                  name="temp"
                  #temp="ngModel"
                  [required]="true"
                  placeholder="Enter Temperature"
                />
              </div>
              <div class="form-group">
                <label for="name">Humidity</label>
                <input
                  type="text"
                  [(ngModel)]="soilData.cropInfo.humidity"
                  class="form-control registration-input-box"
                  name="humidity"
                  #humidity="ngModel"
                  [required]="true"
                  placeholder="Enter Humidity"
                />
              </div>
              <div class="form-group">
                <label for="name">PH Value</label>
                <input
                  type="text"
                  [(ngModel)]="soilData.cropInfo.ph"
                  class="form-control registration-input-box"
                  name="ph"
                  #ph="ngModel"
                  [required]="true"
                  placeholder="Enter ph"
                />
              </div>
              <div class="form-group">
                <label for="name">RainFall</label>
                <input
                  type="text"
                  [(ngModel)]="soilData.cropInfo.rainfall"
                  class="form-control registration-input-box"
                  name="rainfall"
                  #rainfall="ngModel"
                  [required]="true"
                  placeholder="Rainfall"
                />
              </div>
              <div class="form-group">
                <label for="address">Address</label>
                <input
                  type="text"
                  [(ngModel)]="soilData.landInfo.address"
                  class="form-control registration-input-box"
                  name="address"
                  required
                  placeholder="Enter Address"
                />
              </div>
  
              <div class="form-group">
                <label for="landmark">Land Mark</label>
                <input
                  type="text"
                  [(ngModel)]="soilData.landInfo.landmark"
                  class="form-control registration-input-box"
                  name="landmark"
                  required
                  placeholder="Enter landmark"
                />
              </div>
            </div>
            <div class="col-lg-6">
              
              <div class="form-group">
                <label for="pincode">Pincode</label>
                <input
                  type="number"
                  autocomplete
                  [(ngModel)]="soilData.landInfo.pincode"
                  class="form-control registration-input-box"
                  name="pincode"
                  pattern="^[1-9][0-9]{5}$"
                  required
                  placeholder="Pincode"
                />
              </div>
              <div class="form-group">
                <label for="state">State</label>
                <select
                  name="state"
                  required
                  [(ngModel)]="states"
                  class="form-control registration-input-box"
                  (change)="districtList()"
                >
                  <option value="undefined">Select State</option>
                  <option *ngFor="let state of state_List" [ngValue]="state">
                    {{ state.state_name }}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label for="district">District</label>
                <select
                  name="district"
                  required
                  (change)="selectD()"
                  [(ngModel)]="districts"
                  class="form-control registration-input-box"
                >
                  <option value="">Select District</option>
                  <option
                    *ngFor="let district of district_List"
                    [ngValue]="district"
                  >
                    {{ district.district_name }}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label for="sizeofLand">Size of Land</label>
                <div class="input-group">
                  <input
                    type="number"
                    [(ngModel)]="soilData.landInfo.sizeOfLand"
                    required
                    placeholder="Size of Land"
                    class="form-control registration-input-box"
                    name="sizeofLand"
                  />
                  <select
                    name="landSizeUnit"
                    [(ngModel)]="soilData.landInfo.landSizeUnit"
                    class="form-control registration-input-box col-3"
                  >
                    <option value="Acre">Acre</option>
                    <option value="Bigha">Bigha</option>
                    <option value="Kila">Kila</option>
                    <option value="Marba">Marba</option>
                    <option value="meter2">Meter2</option>
                    <option value="yard">Yard</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="WaterSource">Water Source</label>
                <select
                  name="WaterSource"
                  required
                  [(ngModel)]="soilData.landInfo.waterSource"
                  class="form-control registration-input-box"
                >
                  <option value="">Select Source</option>
                  <option value="Canal System">Canal System</option>
                  <option value="Rain water harvesting">
                    Rain water harvesting
                  </option>
                  <option value="Tube well">Tube well</option>
                </select>
              </div>
  
              <div class="form-group">
                <label for="infoAboutCrop">Information About Crop</label>
                <input
                  type="text"
                  class="form-control registration-input-box"
                  name="infoAboutCrop"
                  [(ngModel)]="soilData.landInfo.infoAboutCrop"
                  required
                  placeholder="What type of Crop you Produce"
                />
              </div>
            </div>
          </div>
         
         
          <button
            type="button"
            (click)="submit(getSoilData)"
            class="btn btn-primary float-right"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-dark btn-sm" (click)="c('close modal')">
      Cancel
    </button>
  </div>
</ng-template>
