<dashboard-header [userData]="userData"></dashboard-header>
<section class="section bg-services p-0" id="services">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="title-box text-right">
          <button
            class="btn btn-primary mt-3 btn-xl"
            (click)="reqForSoil(requestForSoil)"
          >
            Request For Soil Testing
          </button>
        </div>
      </div>
    </div>

    <div class="card mt-2">
      <div class="card-header pb-0">
        <h6 class="card-title">My Testing Request</h6>
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <th>ID</th>
            <th>Land Mark Name</th>
          </thead>
          <tbody>
            <td>1</td>
            <td>Karni Nagar</td>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<ng-template #requestForSoil let-c="close" let-d="dismiss">
  <div class="modal-header bg-white">
    <h6 class="modal-title" id="myModalLabel">Choose Land Type</h6>
    <button
      type="button"
      class="close"
      (click)="c('close modal')"
      data-dismiss="modal"
      aria-hidden="true"
    >
      &times;
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group d-flex mb-0">
      <label for="soilTestingEarlier" class="col-form-label-lg col-10"
        >Soil Tested Earlier</label
      >
      <select
        name="soilTestingEarlier"
        (change)="changeSoilTesting(soilTestingEarlier)"
        [(ngModel)]="soilTestingEarlier"
        class="form-control col-2"
      >
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>

      
    </div>
    <hr class="mt-0">
    <div class="card card-body" *ngIf="showTesting==='no'">
      <button
        class="btn btn-light btn-block btn-lg"
        *ngFor="let lt of requestType"
        (click)="requestForLand(lt.id)"
      >
        <h6 class="d-flex justify-content-center">{{ lt.name }}</h6>
      </button>
    </div>
    <div class="card" *ngIf="showTesting==='yes'">
      <div class="card-header">
        <h5 class="card-title">Enter Soil Details</h5>
        <p class="card-subtitle small">Enter details from Downloaded Report</p>
      </div>
      <div class="card-body">
        <form #getSoilData>
          <div class="form-group">
            <label for="name">Soil Type</label>
            <input
              type="text"
              [(ngModel)]="soilData.soiltype"
              class="form-control registration-input-box"
              name="soiltype"
              #soiltype="ngModel"
              required placeholder="Soil Type"
            />
          </div>
          <div class="form-group">
            <label for="name">Temperature</label>
            <input
              type="text"
              [(ngModel)]="soilData.temp"
              class="form-control registration-input-box"
              name="temp"
              #temp="ngModel"
              required placeholder="Enter Temperature"
            />
          </div>
          <div class="form-group">
            <label for="name">Humidity</label>
            <input
              type="text"
              [(ngModel)]="soilData.humidity"
              class="form-control registration-input-box"
              name="humidity"
              #humidity="ngModel"
              required placeholder="Enter Humidity"
            />
          </div>
          <div class="form-group">
            <label for="name">PH Value</label>
            <input
              type="text"
              [(ngModel)]="soilData.ph"
              class="form-control registration-input-box"
              name="ph"
              #ph="ngModel"
              required placeholder="Enter ph"
            />
          </div>
          <div class="form-group">
            <label for="name">RainFall</label>
            <input
              type="text"
              [(ngModel)]="soilData.rainfall"
              class="form-control registration-input-box"
              name="rainfall"
              #rainfall="ngModel"
              required placeholder="Rainfall"
            />
          </div>
          <button
          type="submit"
          (click)="submit()"
          class="btn btn-primary float-right"
        >
          Submit
        </button>
        </form>
      </div>
     
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-dark btn-sm" (click)="c('close modal')">
      Cancel
    </button>
  </div>
</ng-template>
