<dashboard-header></dashboard-header>
<section class="section bg-services p-0" id="services">
  <div class="container-fluid">
    <div class="row" *ngIf="!forAdmin">
      <div class="col-lg-12">
        <div class="title-box text-right">
          <button
            class="btn btn-primary mt-3 btn-xl"
            (click)="reqForSoil(requestForSoil)"
          >
            Request For Soil Testing
          </button>
        </div>
      </div>
    </div>

    <div class="card mt-2" *ngIf="!forAdmin">
      <div class="card-header pb-0">
        <h6 class="card-title">
          My Testing Request(s)
          <i class="fa fa-refresh float-right" (click)="getTestingReq()"></i>
        </h6>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-sm table-striped">
          <thead>
            <th>ID</th>
            <th>Requestor</th>
            <th>Request For</th>
            <th>Land Mark Name</th>
            <th>Request Date</th>
            <th>Status</th>
            <th>Action</th>
          </thead>
          <tbody>
            <tr *ngFor="let request of myTestingRequests">
              <td>{{ (request?._id).substr((request?._id).length - 6) }}</td>
              <td>{{ request?.requestor }}</td>
              <td>
                <button class="btn btn-info btn-xs">
                  {{ request?.requestedFor }}
                </button>
              </td>
              <td>{{ request?.landInfo.landmark }}</td>
              <td>{{ request?.createdAt | date }}</td>
              <td>
                <button
                  class="btn btn-sm text-white"
                  [ngClass]="{
                    'btn-warning': request?.status == 'Pending',
                    'btn-success': request?.status != 'Pending',
                    'btn-info': request?.status != 'Pending' && request?.soilInfo
                  }"
                >
                  {{ request?.status }}
                </button>
              </td>
              <td>
                <button
                  class="btn btn-sm btn-info mr-2"
                  (click)="downloadReport(request._id, request.soilInfo)"
                  *ngIf="request?.report "
                >
                  <i class="fa"
                    [ngClass]="{'fa-download': !request.soilInfo, 'fa-file': request.soilInfo}"
                  ></i>
                </button>
                <button
                  class="btn btn-sm btn-info"
                  *ngIf="!request?.report"
                  (click)="deleteRequest(request?._id)"
                >
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="card mt-2" *ngIf="forAdmin">
      <div class="card-header pb-0">
        <h6 class="card-title">
          User Request(s)
          <i
            class="fa fa-refresh float-right"
            (click)="getAdminTestingReq()"
          ></i>
        </h6>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-sm table-striped">
          <thead>
            <th>ID</th>
            <th>Requestor</th>
            <th>Request For</th>
            <th>Land Mark Name</th>
            <th>Request Date</th>
            <th>Status</th>
            <th>Action</th>
          </thead>
          <tbody>
            <tr *ngFor="let request of adminMyTestingRequests">
              <td>{{ (request?._id).substr((request?._id).length - 6) }}</td>
              <td>{{ request?.requestor }}</td>
              <td>
                <button class="btn btn-info btn-xs">
                  {{ request?.requestedFor }}
                </button>
              </td>
              <td>{{ request?.landInfo.landmark }}</td>
              <td>{{ request?.createdAt | date }}</td>
              <td>
                <button
                  class="btn btn-sm"
                  [ngClass]="{
                    'btn-warning': request?.status == 'Pending',
                    'btn-success': request?.status != 'Pending'
                  }"
                >
                  {{ request?.status }}
                </button>
              </td>
              <td>
                <button
                  triggers="mouseenter:mouseleave"
                  placement="bottom"
                  data-toggle="hover"
                  ngbPopover="Upload Report"
                  class="btn btn-sm btn-info"
                  (click)="uploadReportNow(request)"
                  *ngIf="request?.status == 'Pending'"
                >
                  <i class="fa fa-upload"></i>
                </button>
                <button
                  triggers="mouseenter:mouseleave"
                  placement="bottom"
                  data-toggle="hover"
                  ngbPopover="Download Report"
                  class="btn btn-sm btn-info"
                  (click)="downloadReport(request._id)"
                  *ngIf="request?.status !== 'Pending' && !!request.report"
                >
                  <i class="fa fa-download"></i>
                </button>
                <button
                  class="btn btn-sm ml-2 btn-info"
                  triggers="mouseenter:mouseleave"
                  placement="bottom"
                  data-toggle="hover"
                  ngbPopover="Delete Request"
                  *ngIf="!request?.report"
                  (click)="deleteRequest(request?._id, true)"
                >
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<ng-template #requestForSoil let-c="close" let-d="dismiss">
  <div class="modal-header bg-white">
    <h6 class="modal-title" id="myModalLabel">Choose Land Type</h6>
    <button
      type="button"
      class="close"
      (click)="c('close modal')"
      data-dismiss="modal"
      aria-hidden="true"
    >
      &times;
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group d-flex mb-0">
      <label for="soilTestingEarlier" class="col-form-label-lg col-10"
        >Soil Tested Earlier</label
      >
      <select
        name="soilTestingEarlier"
        (change)="changeSoilTesting(soilTestingEarlier)"
        [(ngModel)]="soilTestingEarlier"
        class="form-control col-2"
      >
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
    </div>
    <hr class="mt-0" />
    <div class="card card-body table-responsive" *ngIf="showTesting === 'no'">
      <div class="d-lg-flex justify-content-center">
        <button
          class="btn btn-info btn-lg mx-1"
          *ngFor="let lt of requestType"
          (click)="requestForLand(lt.id)"
        >
          {{ lt.name }}
        </button>
      </div>
    </div>
    <div class="my-2" *ngIf="showTesting === 'yes' && !(soilData.soiltestId)">
      <div
        class="input-group mb-2 col-lg-6 offset-lg-3"
        *ngFor="let land of myTestingRequests"
      >
        <div class="input-group-prepend" *ngIf="!(land.soilInfo)">
          <div class="input-group-text">
            <input
              type="checkbox"
              (change)="chooseLandMark($event, land)"
              name="landmark"
              aria-label="Checkbox for following text input"
            />
          </div>
        </div>
        <input
          type="text"
          *ngIf="!(land.soilInfo)"
          class="form-control"
          [value]="land?.landInfo.landmark"
          aria-label="Text input with checkbox"
          readonly
        />
      </div>
    </div>

    <div class="card" *ngIf="showTesting === 'yes' && soilData.soiltestId">
      <div class="card-header">
        <h5 class="card-title">Enter Soil Details</h5>
        <p class="card-subtitle small">Fill Soil Infomation</p>
      </div>
      <div class="card-body table-responsive">
        <form #getSoilData="ngForm" ngNativeValidate>
          <div class="form-group">
            <label for="name">Soil Type</label>
            <input
              type="text"
              [(ngModel)]="soilData.soilInfo.soiltype"
              class="form-control registration-input-box"
              name="soiltype"
              #soiltype="ngModel"
              [required]="true"
              placeholder="Soil Type"
            />
          </div>
          <div class="form-group">
            <label for="name">Temperature</label>
            <input
              type="number"
              [(ngModel)]="soilData.soilInfo.temp"
              class="form-control registration-input-box"
              name="temp"
              #temp="ngModel"
              [required]="true"
              placeholder="Enter Temperature"
            />
          </div>
          <div class="form-group">
            <label for="name">Humidity</label>
            <input
              type="number"
              [(ngModel)]="soilData.soilInfo.humidity"
              class="form-control registration-input-box"
              name="humidity"
              #humidity="ngModel"
              [required]="true"
              placeholder="Enter Humidity"
            />
          </div>
          <div class="form-group">
            <label for="name">PH Value</label>
            <input
              type="number"
              [(ngModel)]="soilData.soilInfo.ph"
              class="form-control registration-input-box"
              name="ph"
              #ph="ngModel"
              [required]="true"
              placeholder="Enter ph"
              max="14"
              min="1"
            />
          </div>
          <div class="form-group">
            <label for="name">RainFall</label>
            <input
              type="text"
              [(ngModel)]="soilData.soilInfo.rainfall"
              class="form-control registration-input-box"
              name="rainfall"
              #rainfall="ngModel"
              [required]="true"
              placeholder="Rainfall"
            />
          </div>
          <button
            type="button"
            (click)="submit(getSoilData)"
            class="btn btn-primary float-right"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-dark btn-sm" (click)="c('close modal')">
      Cancel
    </button>
  </div>
</ng-template>


<ng-template #getPredictionModal let-c="close" let-d="dismiss">
  <div class="modal-header bg-white">
    <h6 class="modal-title" id="myModalLabel">Predication Data</h6>
    <button
      type="button"
      class="close"
      (click)="c('close modal')"
      data-dismiss="modal"
      aria-hidden="true"
    >
      &times;
    </button>
  </div>
  <div class="modal-body">
    <form #getSoilData="ngForm" ngNativeValidate>
      <div class="form-group">
        <label for="name">Soil Type</label>
        <input
          type="text"
          [(ngModel)]="soilData.soilInfo.soiltype"
          class="form-control registration-input-box"
          name="soiltype"
          #soiltype="ngModel"
          [required]="true"
          placeholder="Soil Type"
        />
      </div>
      <div class="form-group">
        <label for="name">Temperature</label>
        <input
          type="number"
          [(ngModel)]="soilData.soilInfo.temp"
          class="form-control registration-input-box"
          name="temp"
          #temp="ngModel"
          [required]="true"
          placeholder="Enter Temperature"
        />
      </div>
      <div class="form-group">
        <label for="name">Humidity</label>
        <input
          type="number"
          [(ngModel)]="soilData.soilInfo.humidity"
          class="form-control registration-input-box"
          name="humidity"
          #humidity="ngModel"
          [required]="true"
          placeholder="Enter Humidity"
        />
      </div>
      <div class="form-group">
        <label for="name">PH Value</label>
        <input
          type="number"
          [(ngModel)]="soilData.soilInfo.ph"
          class="form-control registration-input-box"
          name="ph"
          #ph="ngModel"
          [required]="true"
          placeholder="Enter ph"
          max="14"
          min="1"
        />
      </div>
      <div class="form-group">
        <label for="name">RainFall</label>
        <input
          type="text"
          [(ngModel)]="soilData.soilInfo.rainfall"
          class="form-control registration-input-box"
          name="rainfall"
          #rainfall="ngModel"
          [required]="true"
          placeholder="Rainfall"
        />
      </div>
      <button
        type="button"
        (click)="submit(getSoilData)"
        class="btn btn-primary float-right"
      >
        Submit
      </button>
    </form>
  </div>
</ng-template>