<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <span class="navbar-brand" routerLink="/dashboard">AgriGrowth</span>
  <button
    class="navbar-toggler"
    type="button"
    aria-controls="navbarContent"
    [attr.aria-expanded]="!collapsed"
    aria-label="Toggle navigation"
    (click)="collapsed = !collapsed"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="navbar-collapse"
    [class.collapse]="collapsed"
    id="navbarSupportedContent"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          href="javascript:void(0)"
          class="nav-link"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/"
        >
          <i class="fa fa-home"></i>
        </a>
      </li>
      <li class="nav-item">
        <a
          href="javascript:void(0)"
          class="nav-link"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/dashboard"
          >Dashboard</a
        >
      </li>
      <li class="nav-item">
        <a
          href="javascript:void(0)"
          class="nav-link"
          routerLinkActive="active"
          routerLink="/profile"
          >Profile</a
        >
      </li>
      <li class="nav-item" *ngIf="userData?.isAdmin">
        <a
          href="javascript:void(0)"
          class="nav-link"
          routerLinkActive="active"
          routerLink="/upload"
          >Upload</a
        >
      </li>
      <li class="nav-item" *ngIf="!userData?.isAdmin">
        <a
          href="javascript:void(0)"
          class="nav-link"
          routerLinkActive="active"
          routerLink="/prediction"
          >Get Predirection</a
        >
      </li>
    </ul>
  </div>
  <span class="mb-0 mx-2 text-light d-none d-lg-block"
    >Hi, <strong>{{ userData.name }}</strong></span
  >
  <div
    ngbDropdown
    class="d-none d-lg-inline-block"
    [class.collapse]="collapsed"
  >
    <img
      class="img-fluid pi"
      src="https://robohash.org/{{ userData.name }}"
      alt="{{ userData.name }}"
    />
    <button
      ngbDropdownToggle
      type="button"
      class="btn btn-xs dropdown-toggle dropdown-toggle-split text-white"
      data-toggle="dropdown"
    ></button>

    <div
      ngbDropdownMenu
      aria-labelledby="navbarDropdown2"
      class="dropdown-menu dropdown-menu-right"
    >
      <a ngbDropdownItem routerLink="/" (click)="logout()">Logout</a>
    </div>
  </div>
</nav>
