<app-topbar></app-topbar>
<section class="bg-home bg-light" id="home">
  <div class="container mt-4">
    <div class="row align-items-center">
      <div [class]="{ 'col-lg-6': !ssuser, 'col-sm-12': ssuser }">
        <ngb-carousel
          *ngIf="images"
          [showNavigationArrows]="true"
          [showNavigationIndicators]="false"
        >
          <ng-template ngbSlide *ngFor="let image of images">
            <div class="d-flex justify-content-center img-wrapper">
              <img
              class="img-fluid"
                [src]="image"
                alt="AgriGrowth_slider"
              />
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
      <div class="col-lg-5 offset-lg-1" *ngIf="!ssuser">
        <app-login *ngIf="isLoginEnable"></app-login>
      </div>
    </div>

    <!-- END HOME -->
  </div>
</section>

<section class="section bg-services" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title-box text-center">
          <h3 class="title-heading mt-4">About us</h3>
          <p class="text-muted f-17 mt-3">We as Agri Growth ,want to assure you that we will provide best crops predication for your land based on soil type, humidity, ph value and rain measures with accuracy more than 90%.</p>

          <img
            src="assets/images/home-border.png"
            height="15"
            class="mt-3"
            alt="agriGrowth"
          />
        </div>
      </div>
    </div>

    <div class="row mt-5 pt-4">
      <div class="col-lg-4">
        <div class="services-box p-4 mt-4">
          <div class="services-icon bg-soft-primary">
            <i class="fa fa-users text-primary"></i>
          </div>

          <h5 class="mt-4">About us</h5>
          <p class="text-muted mt-3">
            We want you to create a system than can help farmers to yield better crops and earn profits, which will eventually help in to grow Country’s GDP
          </p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="services-box p-4 mt-4">
          <div class="services-icon bg-soft-primary">
            <i class="fa fa-eye text-primary"></i>
          </div>

          <h5 class="mt-4">Vision</h5>
          <p class="text-muted mt-3">
            Our vision is to encourage people to words the modern farming and providing them source to earn good crops and profits. And also ensuring them for better future.
          </p>

        </div>
      </div>

      <div class="col-lg-4">
        <div class="services-box p-4 mt-4">
          <div class="services-icon bg-soft-primary">
            <i class="fa fa-link text-primary"></i>
          </div>

          <h5 class="mt-4">Future Scope</h5>
          <p class="text-muted mt-3">
            Use of soil moisture sensors, environment sensors, pH sensors to increase the accuracy while predicting the crop. Locations market requirements can be consider, and neighbor farmers crop while suggesting the suitable crop.
          </p>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="section bg-clients" id="howitworks">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title-box text-center mb-5">
          <h3 class="title-heading">How IT WORKS</h3>

          <img
            src="assets/images/home-border.png"
            height="15"
            class="mt-3"
            alt="agriGrowth"
          />
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-sm-3" *ngFor="let item of whyChooseUs">
        <div class="media">
          <div class="count-box bg-soft-primary text-center">
            <h3 class="counter-count mb-1 text-primary">
              <span class="counter-value">{{ item.step }}</span>
            </h3>
            <p class="text-uppercase text-muted mb-0 f-14">STEP</p>
          </div>
          <div class="media-body mt-2 text-center">
            <h6 class="text-uppercase">{{ item.heading }}</h6>
            <p class="text-muted mb-0">{{ item.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- START CTA -->
<section class="section bg-light bg-cta">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="text-center">
          <h2>Get Started With <span class="text-primary">AgriGrowth</span></h2>
          <p class="text-muted mt-3">
            Agri Growth is crop yield prediction system , which will predict the best crop for land with accuracy rate more than 90% .So join us today for developing better future together.
          </p>

          <div class="mt-4 pt-2">
            <a
              href="javascript:void(0)"
              routerLink="/signup"
              class="btn btn-primary btn-round btn-rounded"
              >Get Started</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END CTA -->

<section class="section" id="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title-box text-center">
          <h3 class="title-heading mt-4">Meet Our Team</h3>

          <img
            src="assets/images/home-border.png"
            height="15"
            class="mt-3"
            alt="agriGrowth"
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="team-carousel">
          <div class="team-box p-3">
            <div class="d-flex justify-content-between flex-row flex-wrap">
            <div class="mx-2" *ngFor="let team of teamInfo">
              <div class="mt-4">
                <h5 class="mt-2">{{team.name}}</h5>
                <p class="team-badge bg-primary text-white rounded f-14 mt-2">
                  {{team.course}}
                </p>
                <p class="text-muted mt-2">
                  <a href="mailto:{{team.email}}" class="text-reset"
                        ><i class="fa fa-envelope"></i
                      > {{team.email}}</a>
                </p>
                <p class="text-muted mt-3">
                  <a href="tel:{{team.phone}}" class="text-reset"
                  ><i class="fa fa-phone"></i
                > {{team.phone}}</a>
                </p>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END TEAM -->

<!-- START CONTACT -->
<section class="section" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title-box text-center">
          <h3 class="title-heading mt-4">Let's talk about everything!</h3>
          <!-- <p class="text-muted f-17 mt-3">
            Vivamus ac nulla ultrices laoreet neque mollis mi morbi elementum
            mauris sit amet arcu <br />
            fringilla auctor In eleifend maximus nisi sed vulputate.
          </p> -->

          <img
            src="assets/images/home-border.png"
            height="15"
            class="mt-3"
            alt="agriGrowth"
          />
        </div>
      </div>
    </div>

    <div class="row mt-5 pt-4">
      <div class="col-lg-6">
        <div class="mt-4 home-img text-center">
          <div class="animation-2"></div>
          <div class="animation-3"></div>
          <img src="assets/images/img-4.png" class="img-fluid" alt="agriGrowth" />
        </div>
      </div>

      <div class="col-lg-6">
        <div class="custom-form mt-4">
          <div id="message"></div>
          <form
            method="post"
            action="https://formspree.io/f/123"
            name="contact-form"
            id="contact-form"
          >
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group mt-3">
                  <label class="contact-lable">First Name</label>
                  <input
                    name="name"
                    id="name"
                    class="form-control"
                    type="text"
                  />
                </div>
              </div>

              <div class="col-lg-6">
                <div class="form-group mt-3">
                  <label class="contact-lable">Last Name</label>
                  <input
                    name="name"
                    id="lastname"
                    class="form-control"
                    type="text"
                  />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <div class="form-group mt-3">
                  <label class="contact-lable">Email Address</label>
                  <input
                    name="email"
                    id="email"
                    class="form-control"
                    type="text"
                  />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <div class="form-group mt-3">
                  <label class="contact-lable">Subject</label>
                  <input
                    name="subject"
                    id="subject"
                    class="form-control"
                    type="text"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group mt-3">
                  <label class="contact-lable">Your Message</label>
                  <textarea
                    name="comments"
                    id="comments"
                    rows="5"
                    class="form-control"
                  ></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 mt-3 text-right">
                <input
                  id="submit"
                  name="send"
                  class="submitBnt btn btn-primary btn-round"
                  value="Send Message"
                  type="submit"
                />
                <div id="simple-msg"></div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END CONTACT -->
