<div class="home-registration-form bg-white">
  <div class="pricing-box mt-1">
    <h5 class="form-title my-1 text-center font-weight-bold">
      Login to Dashboard!
    </h5>

    <form class="registration-form" #loginForm="ngForm" ngNativeValidate>
      <div class="form-group">
        <label class="text-muted">Email</label>
        <input
          type="email"
          name="email"
          #emailAddress="ngModel"
          email
          [(ngModel)]="userLoginForm.email"
          required
          class="form-control mb-4 registration-input-box"
        />
      </div>

      <div class="form-group">
        <label class="text-muted">Password</label>
        <input
          type="password"
          minlength="6"
          maxlength="32"
          autocomplete
          name="password"
          #password="ngModel"
          [(ngModel)]="userLoginForm.password"
          required
          class="form-control mb-4 registration-input-box"
        />
      </div>

      <div class="mt-4 pt-3">
        <button
          type="submit"
          (click)="loginIn()"
          class="btn btn-primary btn-rounded"
          [disabled]="!loginForm.form.valid"
        >
          <i class="fa fa-reload" [ngClass]="{'fa-spin': isLogged}"></i> Login
        </button>
      </div>
    </form>
  </div>
  <p class="text-muted text-center">
    Don't Have an Account
    <span>
      <a routerLink="/signup">Sign Up</a>
    </span>
  </p>
</div>
