<dashboard-header></dashboard-header>
<div class="d-lg-flex justify-content-between">
  <div class="col-lg-4 h-100">
    <div class="pricing-box mt-4">
      <div class="count-box bg-soft-primary text-center w-auto">
        <img
          class="img-fluid pi text-center"
          src="https://robohash.org/{{ userData.name }}"
          alt="{{ userData.name }}"
        />
        <h4 class="f-20">{{ userData.name }}</h4>
        <span *ngIf="userData?.role == 'admin'" class="badge badge-info"
          >Admin</span
        >
      </div>

      <div class="mt-4 pt-2">
        <table class="table table-sm table-borderless table-responsive">
          <h3 class="mb-2 f-18">Contact Info</h3>
          <tbody>
            <tr>
              <th>Email</th>
              <td>:</td>
              <td>{{ userData.email }}</td>
            </tr>
            <tr>
              <th>Phone</th>
              <td>:</td>
              <td>(+91)-{{ userData.phoneNo }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-8 card px-0 mt-4">
    <div class="card-header pb-0">
      <h4 class="text-center card-title">My Land's</h4>
    </div>

    <div class="card-body d-flex justify-content-between ">
      <div
        class="col-lg-4 col-sm-12"
        *ngFor="let land of userData.landInfo; let i = index"
      >
        <div class="card my-sm-2">
          <div class="card-header bg-soft-info pb-0">
            <h5 class="my-1 card-title">{{i+1}}. {{ land.landmark }}</h5>
          </div>
          <div class="card-body table-responsive h-15">
            <address class="card-subtitle">
             
              <strong
                >{{ land.address }}, {{ land.district }} -{{ land.pincode }} ,
                {{ land.state }}</strong
              >
            </address>
            <br>
            <ul>
              <li>Water Source: {{ land.waterSource }}</li>
              <li>Produce Crops: {{ land.infoAboutCrop }}</li>
            </ul>
          </div>
          <div class="card-footer">
            Size: <strong>{{ land.sizeOfLand }}</strong> {{ land.landSizeUnit }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
