/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~ngx-toastr/toastr";
@import "~bootstrap/scss/bootstrap";
@import "scss/style.scss";

.btn-group-xs > .btn,
.btn-xs {
  padding: 0.125rem 0.4rem;
  font-size: 85%;
  line-height: 1.5;
  border-radius: 0.2rem;
}

section {
  padding: 80px 0 !important;
}

.media {
  display: inline-block;
}

.count-box {
  padding: 10px;
  border-radius: 10px;
  width: 120px;
  margin: 0 auto;
}
.modal{
  &-header{
    padding: 0.25rem 1rem!important;
  }

  &-footer{
    border-top: none!important;
    padding: 0 0.25rem;
  }
}

.bg-request{
  background-image: url('assets/images/slider/slider-2.png');
}